* {
    font-family: 'Kodchasan', sans-serif;
    margin: 0px;
    padding: 0px;
}

.contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

@media(min-width: 0px){
    .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } 
}
@media(min-width: 479px){
    .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
@media(min-width: 768px){
    .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

@media(min-width: 1200px){
    .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}
body {
    width: 100%;
    height: 100%;    
    color: black;
}
@media(min-width: 0px){
    body {
        width: 100%;
        height: 100%;    
        color: black;
        flex-direction: column;
    } 
}

@media(min-width:479px){
    body {
        width: 100%;
        height: 100%;    
        color: black;
        flex-direction: column;
    } 
}

@media(min-width: 768px){
    body {
        width: 100%;
        height: 100%;    
        color: black;
        flex-direction: column;
    } 
}

@media(min-width: 1200px){
    body {
        width: 100%;
        height: 100%;    
        color: black;
        flex-direction: column;
    } 
}

.segunda-seccion p{
    justify-content: space-evenly;
    font-size: 1.5rem;
    text-align: justify;
    margin: 1rem;
}

hr{
    width: 100%;
    height: 0.1rem;
    background-color: #0DADB2;
   
}


/***********************************
certificados*/

.certificados_logos{
    width: 100%;
    height:  100%;
    display: flex;
    justify-content: center; /* Centra horizontalmente los elementos */
    align-items: center; /* Centra verticalmente los elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas si no caben en una sola línea */
    
}
   
.certificados_logos1 {
    width: 100%;
    display: flex;
    background: linear-gradient(  #07A4A9,  #EEEE);      
}  

.certificado_imagen {
    max-width: 31.8%; /* Ajusta el ancho máximo de las imágenes según sea necesario */
    max-height: auto; /* Hace que la altura de las imágenes se ajuste automáticamente */
    margin: 0.6rem; /* Ajusta el margen entre las imágenes según sea necesario */
}


@media (max-width: 768px) {
    .certificados_logos1 {
        flex-direction: column; /* Cambia la dirección de los elementos a columna en dispositivos más pequeños */
        align-items: center; /* Centra los elementos en la columna */
        justify-content: space-evenly;
    }
}

.h3{
    display: flex;
    color:black;

}

/*
***********************************/
.titulos_diplomas{
    max-width:100%;
    max-height: 100%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    
}

@media(min-width: 479px){
    .titulos_diplomas{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-between; /* Centra horizontalmente los títulos y diplomas */
    }
}

@media(min-width: 768px){
    .titulos_diplomas{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-between; /* Centra horizontalmente los títulos y diplomas */
    }
}

@media(min-width: 1200px){
    .titulos_diplomas{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        align-items: center;
        justify-content: space-between; /* Centra horizontalmente los títulos y diplomas */
    }
}

.diploma_1{
    max-width: 31.8%;
    font-size: 1rem;
    text-align: justify;
    margin-right: 0.6rem;
    justify-content: center;    
}

@media(min-width: 479px){
    .diploma_1{
        max-width: 100%;
        font-size: 1.3rem;
        text-align: left;
        margin-right: 0.6rem;
        justify-content: center;    
    } 
}

@media(min-width: 768px){
    .diploma_1{
        max-width: 100%;
        font-size: 1.3rem;
        text-align: left;
        margin-right: 0.6rem;
        justify-content: center;    
    } 
}

@media(min-width: 1200px){
    .diploma_1{
        max-width: 100%;
        font-size: 1.3rem;
        text-align: left;
        margin-right: 0.6rem;
        justify-content: center;    
    } 
}

.valores_1{
    justify-content: space-evenly;
    font-size: 1.4rem;
    text-align: justify;
    margin: 1rem; 
}

@media(max-width: 0px) {
    .valores_1{
        justify-content: space-evenly;
        font-size: 1.4rem;
        text-align: justify;
        margin: 1rem; 
    } 
}

@media(max-width: 479px) {
    .valores_1{
        justify-content: space-evenly;
        font-size: 1.4rem;
        text-align: justify;
        margin: 1rem; 
    } 
}

@media(max-width: 768px) {
    .valores_1{
        justify-content: space-evenly;
        font-size: 1.4rem;
        text-align: justify;
        margin: 1rem; 
    } 
}

@media(max-width: 1200px) {
    .valores_1{
        justify-content: space-evenly;
        font-size: 1.4rem;
        text-align: justify;
        margin: 1rem; 
    } 
}

.valores_2{
    justify-content: center;   
    text-align: justify;
}

@media(max-width: 0px) {
    .valores_2{
        justify-content: center;   
        text-align: justify;
    } 
}

@media(max-width: 479px) {
    .valores_2{
        justify-content: center;   
        text-align: justify;
    }
} 

@media(max-width: 768px) {
    .valores_2{
        justify-content: center;   
        text-align: justify;
    }
} 


@media(max-width: 1200px) {
    .valores_2{
        justify-content: center;   
        text-align: justify;
    }
} 

.valores_3{ 
    justify-content: center;
    text-align: justify;
}

@media(max-width: 0px) {
    .valores_3{
        justify-content: center;   
        text-align: justify;
    } 
}

@media(max-width: 479px){
    .valores_3{ 
        justify-content: center;
        text-align: justify;
    } 
}

@media(max-width: 768px){
    .valores_3{ 
        justify-content: center;
        text-align: justify;
    } 
}

@media(max-width: 1200px){
    .valores_3{ 
        justify-content: center;
        text-align: justify;
    } 
}

.valores_4{  
    justify-content: center;
    text-align: justify;
}

@media(max-width: 0px) {
    .valores_4{
        justify-content: center;   
        text-align: justify;
    } 
}

@media(max-width: 479px){
    .valores_4{ 
        justify-content: center;
        text-align: justify;
    } 
}

@media(max-width: 768px){
    .valores_4{ 
        justify-content: center;
        text-align: justify;
    } 
}

@media(max-width: 1200px){
    .valores_4{ 
        justify-content: center;
        text-align: justify;
    } 
}


.cactus-footer{
    width: 2rem;
}

.imagenes{
  display: flex;
  justify-content: space-evenly ;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;  
}

.imagene1{
    width: 40%;
    height: 30rem;
    border-radius: 50rem;
    
}

.imagene2{
    width: 108%;
    height: 30rem;
    border-radius: 15rem;
      
}

.productos_promociones{
   position: relative;
    font-size: 1.4rem;
}

.productosPromociones{
    text-align: center;
    justify-content: center;
}

.h1{
    color: black;
    flex-wrap: wrap;
    text-align: center;
}

.video {
    margin-left: 0.8rem;
    height: 100%;
    width: 100;    
    flex-wrap: wrap;    
}

@media(min-width: 0px){
    .video h1{
        height: 100%;
        text-align: center;
        color: black;
        flex-direction: column;    
    }
}

@media(min-width: 479px){
    .video h1{
        height: 100%;
        text-align: center;
        color: black;
        flex-direction: column;    
    }
}

@media(min-width: 7680px){
    .video h1{
        height: 100%;
        text-align: center;
        color: black;
        flex-direction: column;    
    }
}

@media(min-width: 1200px){
    .video h1{
        height: 100%;
        text-align: center;
        color: black;
        flex-direction: column;    
    }
}





